@charset "utf-8";body{font-family:"Noto Sans",sans-serif;font-size:16px;line-height:1.4375;color:#333;background-color:#fff}#page-wrapper{height:auto}#mb-pnl.modal-content{position:fixed;display:none;flex-direction:row;width:auto;pointer-events:auto;background-color:initial;-webkit-background-clip:border-box;background-clip:border-box;border:0;border-radius:0;outline:0}#mb-pnl.modal-content.open{display:inline-block!important}#app-srch-mb.modal-content{display:none}#app-srch-mb.modal-content.open{display:block!important}#app-srch-mb.overlay-def .modal-header{background:#243850!important}@media(max-width:767px){.container{max-width:100%}}@media(min-width:768px){.container{max-width:90%}}.container-fluid{padding:0}a{color:#284142}a:focus,a:hover{color:#0535d2}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{-webkit-font-variant-ligatures:no-common-ligatures;font-variant-ligatures:no-common-ligatures;font-family:inherit;font-weight:600;line-height:1.1;color:inherit}h1 small,h1 .small,h2 small,h2 .small,h3 small,h3 .small,h4 small,h4 .small,h5 small,h5 .small,h6 small,h6 .small,.h1 small,.h1 .small,.h2 small,.h2 .small,.h3 small,.h3 .small,.h4 small,.h4 .small,.h5 small,.h5 .small,.h6 small,.h6 .small{font-weight:400;line-height:1;color:#6f6f6f}h1,.h1,h2,.h2,h3,.h3{margin-top:23px;margin-bottom:11.5px}h1 small,h1 .small,.h1 small,.h1 .small,h2 small,h2 .small,.h2 small,.h2 .small,h3 small,h3 .small,.h3 small,.h3 .small{font-size:65%}h4,.h4,h5,.h5,h6,.h6{margin-top:11.5px;margin-bottom:11.5px}h4 small,h4 .small,.h4 small,.h4 .small,h5 small,h5 .small,.h5 small,.h5 .small,h6 small,h6 .small,.h6 small,.h6 .small{font-size:75%}h1,.h1{font-size:34px}h2,.h2{font-size:26px}h3,.h3{font-size:22px}h4,.h4{font-size:18px}h5,.h5{font-size:16px}h6,.h6{font-size:14px}small,.small{font-size:70%}#rememberusername{margin-left:-12px}.btn{border:1px outset #ccc;font-size:16px;border-radius:4px;margin-left:5px;padding-top:6px;white-space:normal;padding:6px 12px;line-height:1.4375;border-radius:4px}.btn-link{border:0}.btn-default{background-color:#eaebed}.btn-default:hover{background-color:#bbbfc5}main .btn-primary,.btn-primary{background-color:#2572b4}main .btn-primary:hover,.btn-primary:hover{background-color:#1c578a}.btn-success{background-color:#1b6c1c}.btn-success:hover{background-color:#114311}.btn-info{color:white;background-color:#4d4d4d}.btn-info:hover{background-color:#222}.btn-warning{background-color:#f2d40d;border:1px solid #181501}.btn-warning:hover{background-color:#c2aa0a}.btn-danger,.btn-danger:not(:disabled):not(.disabled):active,.btn-danger:not(:disabled):not(.disabled).active,.show>.btn-danger.dropdown-toggle{background-color:#bc3331}.btn-danger:hover,.btn-danger:not(:disabled):not(.disabled):hover,.btn-danger:not(:disabled):not(.disabled):hover,.show>.btn-danger.dropdown-toggle:hover{background-color:#942826}.btn-lg{font-size:18px}.btn-sm,.btn-xs{padding:5px 10px;font-size:14px}.btn-xs{padding:1px 5px}a.disabled:hover,a.disabled{font-style:normal}.btn-group-lg>.btn,.btn-lg{padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px}.btn-group-sm>.btn,.btn-sm{padding:5px 10px;font-size:14px;line-height:1.5;border-radius:3px}.btn-group,.btn-group-vertical{display:table}.icon{min-height:0}.navbar-nav .nav-item a:visited,.navbar-nav .nav-item a{color:lightgray}.navbar-nav{margin-top:15px;color:lightgray}.nav-item i:hover{color:white}a{text-decoration:underline}.usermenu .icon{margin-right:0;min-height:0;min-width:0}.usermenu .dropdown .caret{display:inline;width:auto;height:auto;margin-left:0;vertical-align:baseline;border:0}.usermenu .dropdown a:first-child{color:white;font-size:16px}.dropdown-menu a.dropdown-item:first-child{color:unset}.dropdown-menu a.dropdown-item:first-child:visited{color:#7834bc}#wb-sm .menu{background:inherit}.form-control{font-size:inherit}#wb-srch form{float:right}.page-context-header .page-header-image,.page-context-header .page-header-headings{float:none}.sitelink{display:none}.helplink,.logininfo,.tool_usertours-resettourcontainer,.usertour,.homelink,.tool_dataprivacy{display:inline-block}.helplink:after,.logininfo:after,.tool_usertours-resettourcontainer:after,.homelink:after{content:"   "}.validators ul li{display:inline-block;padding:20px 20px 0 20px;margin-bottom:0}div.dropdown a#dropdown-1{color:white}div.dropdown a{font-size:16px}#side-blocks div.dropdown a{color:#000}.dropdown-menu{min-width:max-content;right:auto;font-size:1.5rem}.card-body h5,.card-body .h5{font-size:3rem}#page{margin-top:0}.mform .row{display:block}body.editing li.activity>div,body.editing .path-course-view li-.activity>div{padding:0 16px}ul{margin-left:4rem}#region-main{border:0}.form-label .form-shortname{font-size:1.1rem}.lead,.userprofile .profile_tree section h3{font-size:inherit;font-weight:bold}.pagination-sm .page-link{font-size:1.5rem}#wb-info{margin-top:2rem;text-align:center}#wb-info nav li{font-size:.875em}#wb-info nav li a{font-size:inherit}.media-body{width:100%}@media(min-width:768px){.forumsearch .form-inline .input-group>.form-control{width:auto}}@media(min-width:768px){.forumsearch .form-inline .input-group{display:inherit}}.context-header-settings-menu{display:flex;justify-content:flex-end;max-width:none;height:auto}#navbar>div.btn{background-color:transparent;border:0}[data-region="drawer"]{top:0;height:100%}.eupopup-container{font-size:1.6rem}.eupopup-body a{color:#41a7ff;padding-top:10px;display:block}.eupopup-button:visited{color:#f6a21d}a.eupopup-closebutton{color:#fff}.pagelayout-login h2.card-header{margin-top:0}.popover{font-size:1.5rem}li.section.hidden,.block.hidden,.block.invisible{display:block!important}.dropdown a.dropdown-toggle>b.caret{display:none}.dashboard-card-deck.one-row{flex-flow:wrap;overflow-x:unset}.close,.moodle-dialogue-base .closebutton{font-size:3rem}.path-admin .rolecap .cap-name,.path-admin .rolecap .note{font-size:1.2rem}#page-admin-plugins #plugins-control-panel .pluginname .componentname,#page-admin-plugins #plugins-control-panel .version .versionnumber{font-size:1.2rem;color:#666!important}#region-main{overflow-x:visible}.no-overflow{overflow:hidden}.sticky{position:-webkit-sticky;position:sticky;z-index:9999}#navbar .d-inline-block.mr-3{margin-top:7px}.pagelayout-frontpage #navbar .d-inline-block.mr-3,.pagelayout-course #navbar .d-inline-block.mr-3{margin-top:0}#coursesearchnavbar{display:none}.activity-navigation .btn-link{border:1px solid}a#next-activity-link:visited{color:white}#next-activity-link{color:white;background-color:#335075;border-color:#335075}a#next-activity-link:hover{background-color:#0e63ae;border-color:#0e63ae;text-decoration:none}.dashboard-card-deck .dashboard-card .dashboard-card-img{height:17rem}#page-login-change_password .form-control-feedback{position:relative;width:100%;height:auto;line-height:unset;text-align:initial}#linkappearance li li{margin-left:20px}.pagelayout-login h2.card-header{display:none}.form-control-feedback{position:relative;text-align:left;font-size:inherit}.userloggedinas .usermenu .usertext .meta,.userswitchedrole .usermenu .usertext .meta{font-size:1rem}.modified{display:none}table caption{text-align:center}.performanceinfo{color:white}#page-course-switchrole .m-x-3,#page-course-switchrole .mx-3{margin-left:3rem!important;display:inline-block}.embed-responsive{height:auto}.pagedetails summary.btn{margin-left:-15px}a[rel~="external"]:after{font-family:FontAwesome;content:"\f08e";text-decoration:none;padding-left:7px;display:inline-block;font-size:1.6rem}.wb-menu .menu,ol.breadcrumb{margin-left:15px}input[type=checkbox],input[type=radio]{margin:3px 0 0 -12.5px}.nav{display:block}.form-check-input{position:static}.media{display:list-item}.label-default{color:black;background-color:#eee}.label-primary{color:black;background-color:#e8f2f4}.label-success{color:black;background-color:#d8eeca}.label-info{color:black;background-color:#d7faff}.label-warning{color:black;background-color:#f9f4d4}.label-danger{color:black;background-color:#f3e9e8}.coursebox .content .courseimage img{max-width:80%;max-height:none}.coursecardview .courses{display:-webkit-flex;display:flex;flex-wrap:wrap;margin:10px 0}.coursecardview .coursebox{max-width:380px;width:100%;border:1px solid lightgrey;margin:0 20px 20px 0;padding:0}.coursecardview .coursebox .content{display:-webkit-flex;-webkit-flex-direction:row;display:flex;flex-direction:column-reverse;flex-wrap:wrap}.coursecardview .coursebox .info,.coursecardview .coursebox .content,.coursecardview .coursebox .content .teachers,.coursecardview .coursebox .content .coursefile,.coursecardview .coursebox .content .customfields-container,.coursecardview .coursebox .content .summary,.coursecardview .coursebox .content .coursecat,.coursecardview .coursebox .content .courseimage,.coursecardview .coursebox .content .courseimage img{width:100%;max-width:100%;margin:0;padding:5px 10px;min-height:75px}.coursecardview .coursebox .content,.coursecardview .coursebox .content .courseimage,.coursecardview .coursebox .content .courseimage img{padding:0}.coursecardview .coursebox>.info>h3.coursename,.coursecardview .coursebox>.info>.coursename a{display:inline;float:none;margin:0;background-image:none;padding-left:0}

/* Side Navigation Drawer. */

#nav-drawer, #nav-drawer .list-group-item {
    background-color:#26374A;
    color: #aaa;
}
#nav-drawer .list-group {
    padding: 15px 0;
}
#nav-drawer .list-group-item.active {
    border:none;
    color: #fff;
}
#nav-drawer .list-group:not(:last-child) {
    border-bottom: white 1px solid;
}

#wb-info .landscape a:focus,
#sm-pnl a:focus,
#nav-drawer a:focus {
    outline: 1px solid -webkit-focus-ring-color;
    outline-color: #89B4F4;
}
#nav-drawer a {
  border:none;
  margin:1px
}
.custom-select {
  font-size:inherit;
}
/* Fix font size for custom select dropdown lists */
.custom-select {
  font-size:inherit;
}

/* Masonry course listing. */
@media (min-width: 576px) {
  .card-columns {
    column-count: 1; 
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2; 
  }
}

@media (min-width: 1500px) {
  .card-columns {
    column-count: 3; 
  }
}

/* Fix for alert boxes. */
.alert-success,
.alert-warning,
.alert-info,
.alert-danger {
    color: #000;
}
.alert-success {
      border-left: 4px solid #278400
}
.alert-warning {
      border-left: 4px solid #f90
}
.alert-info {
      border-left: 4px solid #269abc
}
.alert-danger {
      border-left: 4px solid #d3080c
}

/* Fix for absolute positioning. */
.pstn-lft-xs, .pstn-lft-sm, .pstn-lft-md, .pstn-lft-lg,
.pstn-bttm-xs, .pstn-bttm-sm, .pstn-bttm-md, .pstn-bttm-lg,
.pstn-rght-xs, .pstn-rght-sm, .pstn-rght-md, .pstn-rght-lg,
.pstn-tp-xs, .pstn-tp-sm, .pstn-tp-md, .pstn-tp-lg {
    position: absolute;
}
.text-primary {
    color: #2572b4!important;
}
.bg-primary {
    color: #fff!important;
    background-color: #2572b4!important;
}
.text-success {
    color: #3c763d!important;
}
.bg-success {
    background-color: #dff0d8!important;
}
.text-info {
    color: #31708f!important;
}
.bg-info {
    background-color: #d9edf7!important;
}
.text-warning {
    color: #8a6d3b!important;
}
.bg-warning {
    background-color: #fcf8e3!important;
}
.text-danger {
    color: #a94442!important;
}
.bg-danger {
    background-color: #f2dede!important;
}

/* Fixes for tables. */
caption {
    color: #333;
}
.table-striped tbody tr:nth-of-type(odd), table.collection tbody tr:nth-of-type(odd), table#explaincaps tbody tr:nth-of-type(odd), table#defineroletable tbody tr:nth-of-type(odd), table.grading-report tbody tr:nth-of-type(odd), table#listdirectories tbody tr:nth-of-type(odd), table.rolecaps tbody tr:nth-of-type(odd), table.userenrolment tbody tr:nth-of-type(odd), form#movecourses table tbody tr:nth-of-type(odd), #page-admin-course-index .editcourse tbody tr:nth-of-type(odd), .forumheaderlist tbody tr:nth-of-type(odd), table.flexible tbody tr:nth-of-type(odd), .generaltable tbody tr:nth-of-type(odd) {
    background-color:#f5f5f5;
}
.table-hover tbody tr:hover, table.grading-report tbody tr:hover, .forumheaderlist tbody tr:hover, .generaltable tbody tr:hover, table.flexible tbody tr:hover, .category_subcategories tbody tr:hover, table#modules tbody tr:hover, table#permissions tbody tr:hover {
    background-color: #f0f0f0;
}

/* Fix for forms. */
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 5px;
  }
}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn, .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn, .input-sm {
    height: 33px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}
legend {
    padding-bottom: 6px;
    font-size: 24px;
}

/* This makes form-control fields 100% wide (WET behaviour). */
form.formcontrol .form-control {
    width: 100%;
}

/* Modernize course sections. */
ul.section li.activity:hover {
    -webkit-transition: all .3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all .3s cubic-bezier(.25,.8,.25,1);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    background-color: #F6F6F6;
}
ul.section li.activity {
    border-bottom: 1px dashed #dee2e6;
}
.course-content ul.section {
    -webkit-transition: all .3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all .3s cubic-bezier(.25,.8,.25,1);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
}
.course-content ul.section:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.course-content ul.section {
    border-top: 5px solid #546573;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 1rem;
  	margin: 0 1.7rem;
}
li.activity.label {
    border: initial;
}
/* Completion icons. */
.icon.iconsmall {
  height:24px;
  width:24px
}
/* Activity icons. */
img.activityicon {
    height: 32px;
    width: 32px;
}

/* Nav Drawer - remove navigation in course */
.pagelayout-course #nav-drawer .list-group:nth-child(2),
.pagelayout-incourse #nav-drawer .list-group:nth-child(2) {
    display: none;
}

