@charset "utf-8";

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4375;
  color: #333333;
  background-color: #fff;
}

/* Fix height of page for IE. */
#page-wrapper {
    height: auto;
}

/* Fix mobile menu */
#mb-pnl.modal-content {
    position: fixed;
    display: none;
    flex-direction: row;
    width: auto;
    pointer-events: auto;
    background-color: initial;
    -webkit-background-clip: border-box;
    background-clip:border-box;
    border: 0;
    border-radius: 0;
    outline: 0;
}
#mb-pnl.modal-content.open {
    display: inline-block!important;
}

/* Fix mobile search field */
#app-srch-mb.modal-content {
    display: none;
}
#app-srch-mb.modal-content.open {
    display: block!important;
}
#app-srch-mb.overlay-def .modal-header {
    background: #243850!important;
}

/* Make content wide */
@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 90%;
    }
}

.container-fluid {
    padding: 0;
}

/* Links in general. */
a {
    color: #284142;
}
a:focus, a:hover {
    color: #0535d2;
}

/* Headings. */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}
h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
    font-weight: 400;
    line-height: 1;
    color: #6f6f6f;
}
h1, .h1,
h2, .h2,
h3, .h3 {
    margin-top: 23px;
    margin-bottom: 11.5px;
}
h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
    font-size: 65%;
}

h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 11.5px;
    margin-bottom: 11.5px;
}
h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
    font-size: 75%;
}
h1, .h1 {
    font-size: 34px;
}
h2, .h2 {
    font-size: 26px;
}
h3, .h3 {
    font-size: 22px;
}
h4, .h4 {
    font-size: 18px;
}
h5, .h5 {
    font-size: 16px;
}

h6, .h6 {
    font-size: 14px;
}

/* Font-size. */
small, .small {
    font-size: 70%;
}

/* Login box */
#rememberusername {
    margin-left: -12px;
}

/* Buttons. */
.btn {
    border: 1px outset #ccc;
    font-size: 16px;
    border-radius: 4px;
    margin-left:5px;
    padding-top: 6px;
    white-space:normal;
    padding: 6px 12px;
    line-height: 1.4375;
    border-radius: 4px;
}
.btn-link { /* no border for icons */
    border: none;
}
.btn-default {
    background-color: #EAEBED;
}
.btn-default:hover {
    background-color: #BBBFC5;
}
main .btn-primary, .btn-primary {
    background-color: #2572B4;
}
main .btn-primary:hover, .btn-primary:hover {
    background-color: #1C578A;
}
.btn-success {
    background-color: #1B6C1C;
}
.btn-success:hover {
    background-color: #114311;
}
.btn-info {
    color: white;
    background-color: #4D4D4D;
}
.btn-info:hover {
    background-color: #222222;
}
.btn-warning {
    background-color: #F2D40D;
    border:1px solid #181501;
}
.btn-warning:hover {
    background-color: #C2AA0A;
}
.btn-danger, .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show>.btn-danger.dropdown-toggle {
    background-color: #BC3331;
}
.btn-danger:hover, .btn-danger:not(:disabled):not(.disabled):hover, .btn-danger:not(:disabled):not(.disabled):hover, .show>.btn-danger.dropdown-toggle:hover {
    background-color: #942826;
}
.btn-lg {
    font-size: 18px;
}
.btn-sm, .btn-xs {
    padding: 5px 10px;
    font-size: 14px;
}
.btn-xs {
    padding: 1px 5px;
}
a.disabled:hover, a.disabled {
    font-style: normal;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-group, .btn-group-vertical {
    display: table;
}

/* Icons */
.icon {
  min-height:0;
}

/* Notification and Message icons */
.navbar-nav .nav-item a:visited, .navbar-nav .nav-item a {
    color:lightgray;
}
.navbar-nav {
    margin-top:15px;
    color:lightgray;
}
.nav-item i:hover {
    color:white;
}

/* Default for all links */
a {
    text-decoration: underline;
}

/* Usermenu */
.usermenu .icon {
    margin-right: 0;
    min-height:0;
    min-width:0;
}
.usermenu .dropdown .caret {
    display: inline;
    width: auto;
    height: auto;
    margin-left: 0px;
    vertical-align: baseline;
    border: none;
}
.usermenu .dropdown a:first-child {
    color:white;
    font-size: 16px;
}
.dropdown-menu a.dropdown-item:first-child {
    color: unset;
}
.dropdown-menu a.dropdown-item:first-child:visited {
    color: #7834bc;
}

/* Menu */
#wb-sm .menu {
    background: inherit;
}

/* WET Search form */
.form-control {
    font-size:inherit;
}
#wb-srch form {
    float:right;
}

/* Fix field width for custom forms in the content area. */
main .form-control {
  width: auto;
}

/* Headers */
.page-context-header .page-header-image, .page-context-header .page-header-headings {
    float:none;
}

/* Footer box links */
.sitelink {
    display: none;
}

.helplink,
.logininfo,
.tool_usertours-resettourcontainer,
.usertour,
.homelink,
.tool_dataprivacy {
    display: inline-block;
}
.helplink:after,
.logininfo:after,
.tool_usertours-resettourcontainer:after,
.homelink:after {
  content: " &nbsp; ";
}

.validators ul li {
  display : inline-block;
  padding: 20px 20px 0 20px;
  margin-bottom:0;
}

/* Dropdown usermenu */
div.dropdown a#dropdown-1 {
    color:white;
}
div.dropdown a {
    font-size:16px;
}
#side-blocks div.dropdown a {
    color: #000;
}

.dropdown-menu {
    min-width:max-content;
    right:auto;
    font-size: 1.5rem
}

/* Card titles */
.card-body h5, .card-body .h5 {
    font-size: 3rem;
}

#page {
    margin-top: 0;
}
.mform .row {
  display: block;
}

/* Adjust position of move activity icon when editing a course. */
body.editing li.activity>div, body.editing .path-course-view li-.activity>div {
    padding: 0 16px;
}

/* All unordered lists */
ul {
    margin-left: 4rem;
}

/* Turn off the border around the main content section */
#region-main {
    border: none;
}

/* form labels on settings page */
.form-label .form-shortname {
    font-size: 1.1rem
}

/* User profile heading */
.lead, .userprofile .profile_tree section h3 {
    font-size: inherit;
    font-weight: bold;
}

.pagination-sm .page-link {
    font-size: 1.5rem;
}

/* Last modified date */
/* Moodle footer info */
#wb-info {
    margin-top: 2rem;
    text-align: center;
}

/* Adjust footnote font size. */
#wb-info nav li {
    font-size: .875em;
}
#wb-info nav li a {
    font-size: inherit;
}

/* Fix for forum topics list. */
.media-body {
    width: 100%;
}

/* Fix display of forum search form and block. */
@media (min-width: 768px) {
    .form-inline .input-group>.form-control,
    .forumsearch .form-inline .input-group>.form-control {
        width: auto;
    }
}
@media (min-width: 768px) {
    .forumsearch .form-inline .input-group {
        display: inherit;
    }
}
.context-header-settings-menu {
    display: flex;
    justify-content: flex-end;
    max-width: none;
    height: auto;
}
.form-inline .input-group {
    display: flex;
}

/* Remove duplicate background for buttons in navbar */
#navbar>div.btn {
    background-color: transparent;
    border: none;
}

[data-region="drawer"] {
    top: 0;
    height: 100%;
}

/* Policy acceptance prompt in footer when logged-out. */
.eupopup-container {
    font-size:1.6rem;
}
.eupopup-body a {
    color: #41A7FF;
    padding-top: 10px;
    display: block;
}
.eupopup-button:visited {
    color: #f6a21d;
}
a.eupopup-closebutton {
    color: #ffffff;
}

/* Login page heading */
.pagelayout-login h2.card-header {
    margin-top: 0;
}

/* Popup help. */
.popover {
    font-size: 1.5rem;
}

/* Show sections hidden from students. */
li.section.hidden, .block.hidden, .block.invisible {
    display: block!important;
}
.dropdown a.dropdown-toggle>b.caret {
      display:none;
}

/* Dashboard: Recently accessed courses - wrap instead of scroll. */
.dashboard-card-deck.one-row {
    flex-flow: wrap;
    overflow-x: unset;
}

/* Adjust size of close button. */
.close, .moodle-dialogue-base .closebutton {
   font-size: 3rem;
}

/* Fix font size for capabilities */
.path-admin .rolecap .cap-name, .path-admin .rolecap .note {
    font-size: 1.2rem;
}

/* Fix font size for pluginname and version on plugins page. */
#page-admin-plugins #plugins-control-panel .pluginname .componentname,
#page-admin-plugins #plugins-control-panel .version .versionnumber {
    font-size: 1.2rem;
    color:#666666!important;
}

/* Fix overflow in main content region. */
#region-main {
    overflow-x: visible;
}

/* Fix overflow in sidebar blocks. */
.no-overflow {
    overflow: hidden;
}

/* To make text stick to the top of the screen. */
.sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index:9999;
}

/* Fix alignment of drawer toggle button. */
#navbar .d-inline-block.mr-3 {
  margin-top: 7px;
}
.pagelayout-frontpage #navbar .d-inline-block.mr-3,
.pagelayout-course #navbar .d-inline-block.mr-3,
.pagelayout-incourse #navbar .d-inline-block.mr-3 {
  margin-top: 0px;
}

/* Remove course search from navbar (when searching courses andlogged out). */
#coursesearchnavbar {
    display:none;
}

/* Activity Navigation buttons. (bottom of activities) */
.activity-navigation .btn-link {
    border: 1px solid;
}
/* Just the next activity button. */
a#next-activity-link:visited {
    color: white;
}
#next-activity-link {
    color: white;
    background-color: #335075;
    border-color: #335075;
}
a#next-activity-link:hover {
    background-color: #0e63ae;
    border-color: #0e63ae;
    text-decoration: none;
}

/* Dashboard cards - show more of the image height. */
.dashboard-card-deck .dashboard-card .dashboard-card-img {
    height: 17rem;
}

/* Change Password error messages. */
#page-login-change_password .form-control-feedback {
    position: relative;
    width: 100%;
    height: auto;
    line-height: unset;
    text-align: initial;
}

/* Increase endentation of sub-lists on Appearance page (mostly for theme setting pages). */
#linkappearance li li {
    margin-left: 20px;
}

/* Hide login box heading. */
.pagelayout-login h2.card-header {
    display:none;
}

/* Fix position and size of error messages on form submissions. */
.form-control-feedback {
    position: relative;
    text-align: left;
    font-size: inherit;
    height: auto;
    line-height: inherit;
}

/* Logged-in as role label. */
.userloggedinas .usermenu .usertext .meta, .userswitchedrole .usermenu .usertext .meta {
    font-size: 1rem;
}

/* Remove Modified Date generated by Moodle at the bottom of Page resources */
.modified {
    display:none;
}

table caption {
    text-align: center;
}

/* Footer: Performance information (if enabled) */
.performanceinfo {
  color:white;
}

/* Make Switch_Role_to horizontal instead of vertical. */
#page-course-switchrole .m-x-3, #page-course-switchrole .mx-3 {
    margin-left: 3rem!important;
    display: inline-block;
}

/* Fix embedded popup (e.g. Moodle Adminer) */
.embed-responsive {
    height: auto;
}

/* Fix Report a Problem button alignment. */
.pagedetails summary.btn {
    margin-left: -15px;
}

/* Add extenal icon for links with rel=external. */
a[rel~="external"]:after {
    font-family: FontAwesome;
    content: "\f08e";
    text-decoration:none;
    padding-left: 7px;
    display: inline-block;
    font-size: 1.6rem
}

/* Align menu and breadcrumbs. */
.wb-menu .menu, ol.breadcrumb {
    margin-left: 15px;
}

/* Fix subtitles and captions section of Insert Media dialogue. */
.nav {
    display: block;
}
.form-check-input {
    position: static;
}

/* For for WET media objects that should be pulled to the right. */
.media {
  display: list-item;
}

/* Fix for WET labels. */
.label-default {
    color: black;
    background-color: #EEEEEE;
}
.label-primary {
    color: black;
    background-color: #E8F2F4;
}
.label-success {
    color: black;
    background-color: #D8EECA;
}
.label-info {
    color: black;
    background-color: #D7FAFF;
}
.label-warning {
    color: black;
    background-color: #F9F4D4;
}
.label-danger {
    color: black;
    background-color: #F3E9E8;
}

/* Course listing: Fix List view on Front Page and All Courses pages. */
.coursebox .content .courseimage img {
    max-width: 80%;
    max-height: none;
}
/* Course listing: Cards view on Front Page and All Courses pages.
   Using flex because IE11 has compatibility issues with grid. */
.coursecardview .courses {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
.coursecardview .coursebox {
    max-width: 380px;
    width: 100%;
    border: 1px solid lightgrey;
    margin: 0 20px 20px 0;
    padding: 0;
}
.coursecardview .coursebox .content {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
.coursecardview .coursebox .content .courseimage {
    order: -1;
}
.coursecardview .coursebox .info,
.coursecardview .coursebox .content,
.coursecardview .coursebox .content .teachers,
.coursecardview .coursebox .content .coursefile,
.coursecardview .coursebox .content .customfields-container,
.coursecardview .coursebox .content .summary,
.coursecardview .coursebox .content .coursecat,
.coursecardview .coursebox .content .courseimage,
.coursecardview .coursebox .content .courseimage img {
    width:100%;
    max-width: 100%;
    margin: 0;
    padding: 5px 10px;
}
.coursecardview .coursebox .info {
    min-height: 75px;
}
.coursecardview .coursebox .content,
.coursecardview .coursebox .content .courseimage,
.coursecardview .coursebox .content .courseimage img {
    padding:0;
}
.coursecardview .coursebox>.info>h3.coursename,
.coursecardview .coursebox>.info>.coursename a {
    display: inline;
    float: none;
    margin: 0;
    background-image: none;
    padding-left: 0;
}
/* Will crop course images if they are all different sizes.
.coursecardview .coursebox .courseimage {
    max-height: 220px;
    overflow-y: hidden;
}
*/

/* Fix for tables padding=5 in Database activity pages. */
.path-mod-data th,
.path-mod-data td {
    padding: 5px;
}

/* Remove indentation from WET list group and nav-pills. */
ul.list-group,
ul.nav-pills {
    margin-left:0;
}

/* Fix display when table column heading widths are specified. */
th.col-1, th.col-xs-1, th.col-2, th.col-xs-2, th.col-3, th.col-xs-3, th.col-4, th.col-xs-4, th.col-5, th.col-xs-5, th.col-6, th.col-xs-6, th.col-7, th.col-xs-7, th.col-8, th.col-xs-8, th.col-9, th.col-xs-9, th.col-10, th.col-xs-10, th.col-11, th.col-xs-11, th.col-12, th.col-xs-12, th.col, th.col-auto, th.col-sm-1, th.col-sm-2, th.col-sm-3, th.col-sm-4, th.col-sm-5, th.col-sm-6, th.col-sm-7, th.col-sm-8, th.col-sm-9, th.col-sm-10, th.col-sm-11, th.col-sm-12, th.col-sm, th.col-sm-auto, th.col-md-1, th.col-md-2, th.col-md-3, th.col-md-4, th.col-md-5, th.col-md-6, th.col-md-7, th.col-md-8, th.col-md-9, th.col-md-10, th.col-md-11, th.col-md-12, th.col-md, th.col-md-auto, th.col-lg-1, th.col-lg-2, th.col-lg-3, th.col-lg-4, th.col-lg-5, th.col-lg-6, th.col-lg-7, th.col-lg-8, th.col-lg-9, th.col-lg-10, th.col-lg-11, th.col-lg-12, th.col-lg, th.col-lg-auto, th.col-xl-1, th.col-xl-2, th.col-xl-3, th.col-xl-4, th.col-xl-5, th.col-xl-6, th.col-xl-7, th.col-xl-8, th.col-xl-9, th.col-xl-10, th.col-xl-11, th.col-xl-12, th.col-xl, th.col-xl-auto {
    width: inherit!important;
}

/* Fix background colour of Wells. */
.well {
    background-color: #f5f5f5;
}

/* Add support for Equalized/Equal Height sections */
.wb-eqht section {
	display: inline-block;
	margin-bottom: 15px;
	padding: 15px;
	width: 100%;
}
@media (min-width: 768px) {
	.wb-eqht section {
		width: 49%;
	}
}
@media (min-width: 1200px) {
	.wb-eqht section {
		width: 33%;
	}
}

/* Fix font size in h3 admin settings. */
#adminsettings h3 {
    font-size: inherit;
}

/* Greyed-out text */
.text-muted, a.dimmed, a.dimmed:link, a.dimmed:visited, a.dimmed_text, a.dimmed_text:link, a.dimmed_text:visited, .dimmed_text, .dimmed_text a, .dimmed_text a:link, .dimmed_text a:visited, .usersuspended, .usersuspended a, .usersuspended a:link, .usersuspended a:visited, .dimmed_category, .dimmed_category a, .tag_feed .media .muted a, #page-admin-qtypes .disabled, #page-admin-qbehaviours .disabled, #page-admin-plugins #plugins-control-panel .pluginname .componentname, #page-admin-plugins #plugins-control-panel .version .versionnumber, #page-admin-plugins #plugins-control-panel .notes .requiredby, #plugins-check-page .page-description, #plugins-check-page #plugins-check .requires-ok, #plugins-check-page #plugins-check .displayname .plugindir, #plugins-check-page #plugins-check-available-dependencies .displayname .component, #page-admin-search .adminpagepath li, .block .minicalendar td.weekend, .section .activity .stealth, .course-content .section-summary .section-summary-activities .activity-count, .course-content ul li.section.hidden .sectionname>span, .course-content ul li.section.hidden .content>div.summary, .course-content ul li.section.hidden .activity .activityinstance, #course-category-listings .listitem[data-visible="0"], #course-category-listings .listitem[data-visible="0"]>div>a, #course-category-listings .listing-pagination-totals.dimmed, .fitem.disabled .fp-btn-choose, .form-defaultinfo, .form-label .form-shortname, .formsettingheading .form-horizontal, .no-felement.fstatic, .path-backup .backup_progress .backup_stage {
    color: #707070!important;
}

/* Font size fix for activity types list displayed in course outline. */
.course-content .section-summary .section-summary-activities .activity-count {
    font-size: 1.3rem
}

/* Fix display for quiz "Review options". */
#page-mod-quiz-mod #id_reviewoptionshdr .form-group {
    width: 20%;
    min-width:285px;
}
#id_reviewoptionshdr label.fitem {
    font-weight: 400;
    font-size: 1.4rem;
}
#id_reviewoptionshdr i {
    padding-top: 10px!important;
}

/* Limit course enrolment info box width. */
#page-enrol-index .coursebox {
    max-width: 620px;
}

/* Configure secondary buttons. Example: Exit Activity (embedded SCORM) */
a.btn-secondary {
  color: white;
  background-color: #2572B4;
  border: 1px outset #335075;
  
}
a.btn-secondary:hover,
a.btn-secondary:not(:disabled):active,
a.btn-secondary:not(:disabled):not(.disabled):active,
a.btn-secondary:focus {
    color: white;
    background-color: #0d5ca2;
    border-color: #0c5596;
}
a.btn-secondary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(17,119,209,.5);
    box-shadow: 0 0 0 0.2rem rgba(17,119,209,.5);
}

/* Fix line height on Quiz Edit screen. */
#page-mod-quiz-edit ul.slots .activityinstance span.instancename {
    height: auto;
}

/* Format new pre and post content region blocks. */
#region-content-pre,
#region-content-post {
  display: block;
  width: 100%;
  margin-left:15px;
}
#region-content-pre .block,
#region-content-post .block {
  border: none;
}
