{{!
    This file is part of the WET-BOEW-Moodle (GCWeb) theme for Moodle - http://moodle.org/
    
    WET-BOEW-Moodle (GCWeb) is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    WET-BOEW-Moodle (GCWeb) is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template gcweb/custom_menu_item

    Generates custom menu items for WET theme.
}}
{{^divider}}
{{#haschildren}}
<li>
    <a class="item" aria-haspopup="true" href="#" role="menuitem">
        {{{text}}}
    </a>
    <ul class="sm list-unstyled">
        {{#children}}
            {{^divider}}
                <li><a role="menuitem" href="{{{url}}}" {{#title}}title="{{{title}}}"{{/title}}>{{{text}}}</a></li>
            {{/divider}}
            {{#divider}}
                <li><div class="dropdown-divider" role="presentation"></div></li>
            {{/divider}}
        {{/children}}
    </ul>
</li>
{{/haschildren}}
{{^haschildren}}
<li>
    <a class="item" href="{{{url}}}" {{#title}}title="{{{title}}}"{{/title}} role="menuitem">{{{text}}}</a>
</li>
{{/haschildren}}
{{/divider}}
