{{!
    This file is part of the WET-BOEW-Moodle (GCWeb) theme for Moodle - http://moodle.org/

    WET-BOEW-Moodle (GCWeb) is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    WET-BOEW-Moodle (GCWeb) is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_gcweb/maintenance

    GCWeb maintenance layout template.
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ output.body_attributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper">
    {{{ output.standard_top_of_body_html }}}
    <div id="page" class="container-fluid">
        <div id="page-content" class="d-block">
            {{{ output.main_content }}}
        </div>
    </div>
</div>
{{{ output.standard_end_of_body_html }}}
</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
