{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
        <footer id="wb-info" class="wb-navcurr-inited">
            <div id="course-footer">{{{ output.course_footer }}}</div>
            {{# output.page_doc_link }}
                <p class="helplink">{{{ output.page_doc_link }}}</p>
            {{/ output.page_doc_link }}
{{!
            {{{ output.login_info }!}!}
            <div class="tool_usertours-resettourcontainer"></div>
            {{{ output.home_link }!}!}
}}
            {{{ output.standard_footer_html }}}
            <div class="brand">
                <div class="container">
                    <div class="row">
                        <nav class="col-md-10 ftr-urlt-lnk">
                            <h2 class="wb-inv">{{# str }} footerheading, theme_wetboew_internet {{/ str }}About this Web application</h2>
                            <ul>
                                {{# str }} footerlist, theme_wetboew_internet {{/ str }}
                            </ul>
                        </nav>
                        <div class="col-xs-6 visible-sm visible-xs tofpg">
                            <a href="#wb-cont">{{# str }} topofpage, theme_wetboew_internet {{/ str }} <span class="glyphicon glyphicon-chevron-up"></span></a>
                        </div>
                        <div class="col-xs-6 col-md-2 text-right">
                            <img src="{{{ wetboew }}}/assets/wmms-blk.svg" alt="{{# str }} symbol, theme_wetboew_internet {{/ str }}" />
                        </div>
                    </div>
                </div>
            </div>
        </footer>
{{!
        <!--[if gte IE 9 | !IE ]><!-->
        <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script -->
        <!-- Latest compiled and minified CSS -->
        <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" -->
        <!-- jQuery library -->
        <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script -->
        <!-- Popper JS -->
        <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script -->
        <!-- script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script -->
}}
        {{{ output.standard_end_of_body_html }}}
        {{#js}}
        require(['theme_boost/loader']);
        require(['theme_boost/drawer'], function(mod) {
            mod.init();
        });
        //require(['theme_wetboew_internet/pink']);
        //require(['theme_wetboew_internet/wetboew']);
        //require(['theme_wetboew_internet/theme']);
        //require(['theme_wetboew_internet/cdtscustom']);
        {{/js}}


        <!-- TODO: Maybe? -->
        <!--[if gte IE 9 | !IE ]><!-->
            <!-- <script data-main="{{{ wetboew }}}/cdts/pink.js" src="http://localhost/wetboew-ised/lib/javascript.php/-1/lib/requirejs/require.js"></script> -->
            <!-- <script data-main="{{{ wetboew }}}/wet-boew/js/wet-boew.min.js" src="http://localhost/wetboew-ised/lib/javascript.php/-1/lib/requirejs/require.js"></script> -->
            <!-- <span id="wb-rsz" class="wb-init">&nbsp;</span>         -->
        <!--<![endif]-->
        <!--[if lt IE 9]>
            <!-- <script src='{{{ wetboew }}}/wet-boew/js/ie8-wet-boew2.min.js'></script> -->
        <![endif]-->
        <!-- <script data-main="{{{ wetboew }}}/GCWeb/js/theme.min.js" src="http://localhost/wetboew-ised/lib/javascript.php/-1/lib/requirejs/require.js"></script> -->
        <!-- <script data-main="{{{ wetboew }}}/cdts/cdtscustom.js" src="http://localhost/wetboew-ised/lib/javascript.php/-1/lib/requirejs/require.js"></script> -->

        <!--[if gte IE 9 | !IE ]><!-->
            <!-- <script src="{{{ wetboew }}}/cdts/pink.js"></script> -->
            <script src="{{ wetboew }}}/../../../lib/jquery/jquery-3.2.1.min.js"></script>
            <script src="{{{ wetboew }}}/wet-boew/js/wet-boew.min.js"></script>
            <span id="wb-rsz" class="wb-init">&nbsp;</span>
        <!--<![endif]-->
        <!--[if lt IE 9]>
            <script src='{{{ wetboew }}}/wet-boew/js/ie8-wet-boew2.min.js'></script>
        <![endif]-->
        <script src="{{{ wetboew }}}/GCWeb/js/theme.min.js"></script>
        <script src="{{{ wetboew }}}/cdts/cdtscustom.js"></script>

        <div id="level-access-access-assistant-highlight-container" data-ae_invis="true"></div>
        {{> theme_boost/nav-drawer }}

