{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
{{{ output.doctype }}}
<html{{{ output.htmlattributes }}}>
<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / wet-boew.github.io/wet-boew/License-en.html -->
    <!-- Boîte à outils de l'expérience Web (BOEW) / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>{{{ output.page_title }}}</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="{{{ output.favicon }}}" rel="icon" type="image/x-icon" class="wb-init wb-favicon-inited">
    <link rel="apple-touch-icon" sizes="57x57 72x72 114x114 144x144 150x150" class="wb-favicon" href="{{{ wetboew }}}/GCWeb/assets/favicon-mobile.png">
    <link rel="stylesheet" href="{{{ wetboew }}}/GCWeb/css/theme.min.css">
    <link rel="stylesheet" href="{{{ wetboew }}}/cdts/cdtsfixes.css">
    <link rel="stylesheet" href="{{{ wetboew }}}/cdts/cdtsapps.css">
    {{{ standard_head_html }}}
    <style>
        body {
          font-size: 16px;
          font-family: "Noto Sans", sans-serif;
        }

        /* Make content wide */
        @media (max-width: 767px) {
            .container {
                max-width: 100%;
            }
        }
        @media (min-width: 768px) {
            .container {
                max-width: 90%;
            }
        }

        .container-fluid {
            padding: 0;
        }

        /* Headings */
        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            font-weight: 600;
            font-family: Lato,sans-serif;
        }
        .h1, h1 {
            font-size: 1.9em;
        }
        .h2, h2 {
            font-size: 1.8em;
            margin-top: 2.5rem;
        }
        .h3, h3, #adminsettings h3{
            font-size: 1.2em;
            margin-top: 2.2rem;
        }
        .h4, h4 {
            font-size: 1.1em;
            margin-top: 1.9rem;
        }
        .h5, h5 {
            font-size: 1em;
            margin-top: 1.6rem;
        }
        .h6, h6 {
            font-size: .95em;
            font-weight: 400;
            margin-top: 1.3rem;
        }

        /* Login box */
        #rememberusername {
            margin-left: -12px;
        }

        /* buttons */
        .btn {
            border: 1px outset #ccc;
            font-size: 15px;
            border-radius: 4px;
            margin-left:5px;
            padding-top: 6px;
            white-space:normal;
        }
        .btn-link { /* no border for icons */
            border: none;
        }

        /* Icons */
        .icon {
          min-height:0;
        }

        /* Notification and Message drawer icons */
        .navbar-nav .nav-item a:visited, .navbar-nav .nav-item a {
            color:lightgray;
        }
        .navbar-nav {
            margin-top:15px;
            color:lightgray;
        }
        .nav-item i:hover {
            color:white;
        }

        /* Default for all links */
        a {
            text-decoration: underline;
        }

        /* Usermenu */
        .usermenu .icon {
            margin-right: 0;
            min-height:0;
            min-width:0;
        }
        .usermenu .dropdown .caret {
            display: inline;
            width: auto;
            height: auto;
            margin-left: 0px;
            vertical-align: baseline;
            border: none;
        }
        .usermenu .dropdown a:first-child {
          color:white;
          font-size: 16px;
        }
        .dropdown-menu a.dropdown-item:first-child {
            color: unset;
        }
        .dropdown-menu a.dropdown-item:first-child:visited {
            color: #7834bc;
        }

        /* Menu */
        #wb-sm .menu {
            background: inherit;
        }

        /* Search form */
        .form-control {
            font-size:inherit;
        }
        #wb-srch form {
            float:right;
        }

        /* Headers */
        .page-context-header .page-header-image, .page-context-header .page-header-headings {
            float:none;
        }

        /* Footer box links */
        .sitelink {
            display: none;
        }

        .helplink,
        .logininfo,
        .tool_usertours-resettourcontainer,
        .usertour,
        .homelink,
        .tool_dataprivacy {
            display: inline-block;
        }
        .helplink:after,
        .logininfo:after,
        .tool_usertours-resettourcontainer:after,
        .homelink:after {
          content: " | ";
        }

        /* All courses page */
        .coursebox .content .courseimage img {
            max-width: 80%;
            max-height: none;
        }

        /* Dropdown usermenu */
        div.dropdown a#dropdown-1 {
            color:white;
        }
        div.dropdown a {
            font-size:16px;
        }

        .dropdown-menu {
            min-width:max-content;
            right:auto;
            font-size: 1.5rem
        }

        /* Card titles */
        h5, .h5 {
            font-size: 3rem;
        }

        #page {
            margin-top: 0;
        }
        .mform .row {
          display: block;
        }

        /* Hide links to Moodle page activities on the front page */
        #page-site-index:not(.editing) #page-content .modtype_page {
            display: none;
        }

        /* All unordered lists */
        ul {
            margin-left: 4rem;
        }

        /* Labels in a form */
        label {
            margin-top: 1.5rem;
        }

        /* Turn off the border around the main content section */
        #region-main {
            border: none;
        }

        /* form labels on settings page */
        .form-label .form-shortname {
            font-size: 1.1rem
        }

        /* User profile heading */
        .lead, .userprofile .profile_tree section h3 {
            font-size: inherit;
            font-weight: bold;
        }

        #adminsettings h3 {
            font-size: inherit;
         }

        .pagination-sm .page-link {
            font-size: 1.5rem;
        }

        /* Last modified date */
        #wb-info {
            margin-top: 2rem;
        }

        /* Moodle footer info */
        #wb-info {
            text-align: center;
        }

        /* Fix for forum topics list. */
        .media-body {
            width: 100%;
        }
        /* Fix for forum search form. */
        @media (min-width: 768px) {
            .forumsearch .form-inline .input-group>.form-control {
                width: auto;
            }
        }
        @media (min-width: 768px) {
            .forumsearch .form-inline .input-group {
                display: inherit;
            }
        }
        .context-header-settings-menu {
            display: flex;
            justify-content: flex-end;
            max-width: none;
        }

        /* Remove duplicate background for buttons in navbar */
        #navbar>div.btn {
            background-color: transparent;
            border: none;
        }

        [data-region="drawer"] {
            top: 0;
            height: 100%;
        }

        /* Policy acceptance prompt in footer when logged-out. */
        .eupopup-container {
            font-size:1.6rem;
        }
        .eupopup-body a {
            color: #41A7FF;
            padding-top: 10px;
            display: block;
        }
        .eupopup-button:visited {
            color: #f6a21d;
        }
        a.eupopup-closebutton {
            color: #ffffff;
            font-size: 2rem;
            background-color: #008000;
        }

        /* Login page heading */
        .pagelayout-login h2.card-header {
            margin-top: 0;
        }

        /* Popup help. */
        .popover {
            font-size: 1.5rem;
        }

        /* Show sections hidden from students. */
        li.section.hidden, .block.hidden, .block.invisible {
            display: block!important;
        }
        .dropdown a.dropdown-toggle>b.caret {
              display:none;
        }

        /* Dashboard: Recently accessed courses - wrap instead of scroll. */
        .dashboard-card-deck.one-row {
            flex-flow: wrap;
            overflow-x: unset;
        }

        .close, .moodle-dialogue-base .closebutton {
           font-size: 3rem;
        }
        
        #page-admin-plugins #plugins-control-panel .pluginname .componentname,
        #page-admin-plugins #plugins-control-panel .version .versionnumber {
            font-size: 1.2rem;
            color:#666666!important;
        }
    </style>
</head>
