{{!
    Problem Button.
}}
<div class="col-sm-6 col-md-5 col-lg-4">
    <details class="brdr-0">
        <summary class="btn btn-default text-center">{{# str }} reportaproblem, theme_wetboew_gcweb {{/ str }}</summary>
        <div class="well row">
            <div class="gc-rprt-prblm">
                <div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl">
                    <form action="#">
                        <fieldset>
                            <legend><span class="field-name">{{# str }} selectallthatapply, theme_wetboew_gcweb {{/ str }}</span></legend>
                            <div class="checkbox">
                                <label for="problem1"><input type="checkbox" data-reveal="#broken" name="problem" value="{{# str }} somethingisbroken, theme_wetboew_gcweb {{/ str }}" id="problem1">{{# str }} somethingisbroken, theme_wetboew_gcweb {{/ str }}</label>
                            </div>
                            <div class="form-group hide" id="broken">
                                <label for="problem1-detail">{{# str }} providemoredetail, theme_wetboew_gcweb {{/ str }}</label>
                                <input type="text" class="form-control full-width" id="problem1-detail">
                            </div>
                            <div class="checkbox">
                                <label for="problem2"><input type="checkbox" data-reveal="#spelling" name="problem" value="{{# str }} spellinggrammarmistakes, theme_wetboew_gcweb {{/ str }}" id="problem2">{{# str }} spellinggrammarmistakes, theme_wetboew_gcweb {{/ str }}</label>
                            </div>
                            <div class="form-group hide" id="spelling">
                                <label for="problem2-detail">{{# str }} providemoredetail, theme_wetboew_gcweb {{/ str }}</label>
                                <input type="text" class="form-control full-width" id="problem2-detail">
                            </div>
                            <div class="checkbox">
                                <label for="problem3"><input type="checkbox" data-reveal="#wrong" name="problem" value="{{# str }} informationwrong, theme_wetboew_gcweb {{/ str }}" id="problem3">{{# str }} informationwrong, theme_wetboew_gcweb {{/ str }}</label>
                            </div>
                            <div class="form-group hide" id="wrong">
                                <label for="problem3-detail">{{# str }} providemoredetail, theme_wetboew_gcweb {{/ str }}</label>
                                <input type="text" class="form-control full-width" id="problem3-detail">
                            </div>
                            <div class="checkbox">
                                <label for="problem4"><input type="checkbox" data-reveal="#outdated" name="problem" value="{{# str }} informationoutdated, theme_wetboew_gcweb {{/ str }}" id="problem4">{{# str }} informationoutdated, theme_wetboew_gcweb {{/ str }}</label>
                            </div>
                            <div class="form-group hide" id="outdated">
                                <label for="problem4-detail">{{# str }} providemoredetail, theme_wetboew_gcweb {{/ str }}</label>
                                <input type="text" class="form-control full-width" id="problem4-detail">
                            </div>
                            <div class="checkbox">
                                <label for="problem5"><input type="checkbox" data-reveal="#find" name="problem" value="{{# str }} notwhatlookingfor, theme_wetboew_gcweb {{/ str }}" id="problem5">{{# str }} notwhatlookingfor, theme_wetboew_gcweb {{/ str }}</label>
                            </div>
                            <div class="form-group hide" id="find">
                                <label for="problem5-detail">{{# str }} describewhatlookingfor, theme_wetboew_gcweb {{/ str }}</label>
                                <input type="text" class="form-control full-width" id="problem5-detail">
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-primary wb-toggle" data-toggle='{"stateOff": "hide", "stateOn": "show", "selector": ".gc-rprt-prblm-tggl"}'>{{# str }} submit, theme_wetboew_gcweb {{/ str }}</button>
                    </form>
                </div>
                <div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide">
                    <h3>{{# str }} thankyou, theme_wetboew_gcweb {{/ str }}</h3>
                    <p>{{# str }} enquiries, theme_wetboew_gcweb {{/ str }}</p>
                </div>
            </div>
        </div>
    </details>
</div>
